/* OUTER WRAPPER */
.testimonial-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* MAIN CARD */
.testimonial-card {
  width: 85%;
  max-width: 1150px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 40px;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(120, 120, 255, 0.22);
}

/* LEFT SIDE */
.testimonial-left {
  position: relative;
}

.testimonial-img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  object-fit: cover;
}

/* FLOATING WHITE BOX */
.floating-box {
  position: absolute;
  top: -42px;
  left: 160px;
  width: 220px;
  height: 65px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
}

/* RIGHT SIDE CONTENT */
.testimonial-content {
  flex: 1;
}

.quote-img {
  width: 48px;
  margin-bottom: 12px;
  margin-left: 20px;
}

.testimonial-text {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  margin-left: 20px;
  max-width: 650px;
}
