/* MAIN WRAPPER */
.download-section {
  width: 90%;
  margin: 100px auto;
  border-radius: 22px;
  background: linear-gradient(115deg, #6165d7 0%, #5351ed 50%);
  padding: 80px 90px;
  padding-right: 350px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
}

/* LEFT CONTENT */
.left-contents {
  color: #fff;
  max-width: 480px;
}

.left-contents h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}

.left-contents p {
  font-size: 15px;
  opacity: 0.9;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* QR + BUTTON GROUP */
.qr-and-button {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* QR CODE */
.qr-code-img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

/* DOWNLOAD BUTTON */
.download-btn {
  background: #ffffff;
  color: #4f44ff;
  padding: 15px 32px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 10px;
}

.download-btn:hover {
  transform: translateY(-2px);
}

/* RIGHT PHONE */
.right-phone {
  position: absolute;
  right: 40px;
  bottom: -60px;
  width: 450px;
  height: 550px;
}

.phone-bg-circle {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: rgba(97, 101, 215, 1);
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.iphone-img {
  width: 450px;
  position: absolute;
  right: 0;
  bottom: -60px;
  z-index: 2;
}
