.hero-wrapper {
  width: 100%;
  padding: 60px 80px;
}

body {
  background-color: #ffffff;
}
.hero-left {
  width: 785px;
}

.vision-text {
  font-size: 36px;
  font-weight: 500;
  color: #808080;
  width: 325px;
  margin-bottom: 10px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  width: 785px;
  margin-bottom: 30px;
}

.button-row {
  display: flex;
  gap: 22px;
}

/* LEFT BUTTON */
.download-btns {
  width: 250px;
  height: 80px;
  border-radius: 20px;
  background: #5351f4;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* RIGHT BUTTON */

/* RIGHT SECTION */
.hero-right {
  position: absolute;
  top: 160px;
  right: 100px;
}

/* MAIN CITY CIRCLE IMAGE */
.city-main-img {
  width: 553px;
  height: 553px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  left: 60px;
}

/* Safety Score Card */
.safety-card {
  width: 288px;
  height: 186px;
  position: absolute;
  top: 15px;
  left: 320px;
}

/* Weather Alert Card */
.alert-card {
  width: 344px;
  height: 100px;
  position: absolute;
  top: -16px;
  left: -110px;
  /* transform: rotate(-8deg); */
}

/* Map Card */
.map-card {
  width: 357px;
  height: 287px;
  position: absolute;
  top: 385px;
  left: 250px;
  /* transform: rotate(22.83deg); */
}

/* FEATURE BOXES */
.feature-row {
  display: flex;
  gap: 60px;
  margin-top: 180px;
}

.feature-box {
  width: 275px;
  height: 226px;
  border: 1px solid #bbbbbb;
  border-radius: 20px;
  text-align: center;
  padding-top: 20px;

  box-shadow: rgba(83, 81, 244, 0.1) 6px 2px 16px 0px,
    rgba(83, 81, 244, 0.09) -6px -2px 16px 0px;
}

.feature-box img {
  width: 70px;
}

.feature-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.feature-box p {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

/* .download-btns {
  background: #5351f4;
  color: #ffffff;
  padding: 15px 32px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 10px;
} */

.product-hunt-badge {
  width: 350px;
  height: 80px;
  transition: transform 0.3s ease;
}

.product-hunt-badge:hover {
  transform: scale(1.1);
}
